
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background-color: #e6e9dd;
    height: 100%;
    display: flex;
}

.header {
    background-color: #4d6a4f;
    color: #e0ded0;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h2{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #e0ded0;
    font-family: "Press start 2P", sans-serif;
}

h3 {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-attachment: fixed;
    flex: 1;
}

.book-repository {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    padding: 2rem;
}

.card {
    background-color: white;
    height: 30vh;
    min-width: 10vh;
    min-width: 10vw;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-family: "Bebas Neue", sans-serif;
}

.delete, .read-button {
    order: 1;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #4d6a4f;
    color: #fff;
    font-family: inherit;
    padding: 0.4rem;
    cursor: pointer;
}

.add {
    height: 10vh;
    width: 10vw;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #4d6a4f;
    color: #fff;
    font-family: inherit;
    padding: 0.4rem;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
}

.delete:hover, .read-button:hover, .add:hover    {
    background-color: #50a856;
}

.footer {
    background-color: #4d6a4f;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.link-container  {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    font-size: 18px;
    color:#fff;
    font-family: "Press start 2P", sans-serif;
}

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(191, 216, 203);
    border: 2px solid #4d6a4f;
    border-radius: 5px;
    text-align: center;
}

.modal-content  {
    padding: 5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.input {
    flex-shrink: 1;
}
