@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
}

.header {
    background-color: #4d6a4f;
    color: #e0ded0;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h2, a{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #e0ded0;
    font-family: "Press start 2P";
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-attachment: fixed;
    flex: 1;
}

.book-repository {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    padding: 2rem;
}

.card {
    height: 20vw;
    width: 30vh;
    border: 1px solid black;
}

.add {
    height: 20vh;
    width: 20vh;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 50%;
    background-color: rgb(224, 223, 223);
    color: rgb(105, 105, 105);
    font-size: 100px;
}

.footer {
    background-color: #4d6a4f;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(191, 216, 203);
    height: 50vh;
    width: 20vw;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #4d6a4f;
    border-radius: 5px;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.input {
    flex-shrink: 1;
}

